.main-image{
    background: url("@Assets/images/pageImage1.jpg") no-repeat center;
    background-size: cover;
    background-position: right;
    min-height: auto;
    width: 60%;
}

@media screen and (max-device-width: 1200px){
    .main-image{
        width: 100%;
        height: 100%;
    }
}
