:root{
    --background-index: -1;
    --form-container: #e6e6e6;
    --button-color: #52b2ad;
    --input-color: #666;
    --input-font-family: Poppins-Medium;
    --input-font-size: 17px;

    --select-container-border: 2px solid #212121;
    --select-border: 1px solid #E8EAED;
    --border-radius: 25px;

    --incorrect-color: #ff0000;
    --correct-color: #008000;
}

*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
}

.main-container{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: scroll;
    padding: 20px 100px;
    position: relative;
    width: 100%;
}

.background-image{
    background-size: cover;
    filter: blur(20px);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: var(--background-index);
}

.displayed-container{
    display: flex;
    height: 650px;
    width: 70%;
}

.login-container,
.register-container {
    align-items: center;
    background-color: var(--form-container);
    display: flex;
    flex-direction: column;
    max-width: 900px;
    min-height: auto;
    padding: 0 30px;
    width: 40%;
}

.user-input-container{
    justify-self: center;
    width: 100%;
}

.main-image{
    background-position: right;
    background-size: cover;
    background: url("./images/pageImage1.jpg") no-repeat center;
    min-height: auto;
    width: 60%;
}

.login-button,
.signup-button{
    background-color: var(--button-color);
    border-radius: var(--border-radius);
    font-size: var(--button-font-size);
    height: 50px;
    margin-top: 20px;
    width: 100%;
}

.register-container .form-title{
    margin: 35px auto;
}

.form-title{
    margin: 100px auto;
}

.user-input-container .text-info{
    margin: 20px auto;
    position: relative;
    width: 100%;
}

.register-container .text-info,
.select-container{
    margin: 10px auto;
    position: relative;
    width: 100%;
}

.select-container{
    border-radius: var(--border-radius);
    border: var(--select-container-border);
}

.text-info:focus{
    border-color: var(--button-color);
    transform: scale(1.04);
}

.register-text-container{
    margin-top: 30px;
}

.register-link{
    cursor: pointer;
    text-decoration-line: underline;
}

.label-wrapper{
    align-items: center;
    border-radius: var(--border-radius);
    bottom: 0;
    color: #666;
    display: flex;
    font-size: 15px;
    height: 100%;
    left: 25px;
    position: absolute;
}

.text-info > i {
    margin-right: 5px;
    width: 16px;
}

.back-login{
    cursor: pointer;
    margin: 20px auto;
    text-decoration-line: underline;
}

.select{
    -webkit-appearance: none;
    background: var(--form-container);
    border-radius: var(--border-radius);
    border: var(--select-border);
    color: var(--input-color);
    cursor: pointer;
    font-family: var(--input-font-family);
    font-size: var(--input-font-size);
    height: 50px;
    padding: 0 30px 0 60px;
    transition: all 150ms ease;
    width: 100%;
}

.text-field{
    background: var(--form-container);
    border-radius: var(--border-radius);
    color: var(--input-color);
    display: block;
    font-family: var(--input-font-family);
    font-size: var(--input-font-size);
    height: 50px;
    line-height: 1.5;
    padding: 0 30px 0 60px;
    width: 100%;
}

.welcome::after,
.incorrect::after,
.invalid::after,
.invalid-email::after,
.already-used::after,
.not-matching::after{
    color: var(--incorrect-color);
    font-size: min(1vw, 15px);
    position: absolute;
}


.welcome::after{
    color: var(--incorrect-color);
    content: 'Welcome Back :)';
}

.incorrect::after{
    content: 'Your Email or Password is not correct';
}

.invalid::after{
    content: 'The name is invalid';
}

.invalid-email::after{
    content: 'Please enter an email, example: dawood@gmail.com';
}

.already-used::after{
    content: 'This Email is already used';
}

.not-matching::after{
    content: 'The password doesn\'t match the first one';
}

.hide-container{
    display: none;
}

@media screen and (max-device-width: 1200px){
    .register-container{
        width: 100%;
    }

    .main-image{
        display: none;
    }

    .welcome::after,
    .incorrect::after,
    .invalid::after,
    .invalid-email::after,
    .already-used::after,
    .not-matching::after{
        font-size: min(2vw, 15px);
    }
}

@media screen and (max-device-width: 650px) {
    .displayed-container{
        width: 95%;
    }

    .main-container{
        padding: 20px 30px;
    }

    .welcome::after,
    .incorrect::after,
    .invalid::after,
    .invalid-email::after,
    .already-used::after,
    .not-matching::after{
        font-size: min(3vw, 15px);
    }
}
