.select{
    -webkit-appearance: none;
    background: var(--form-container);
    border-radius: var(--border-radius);
    border: var(--select-border);
    color: var(--input-color);
    cursor: pointer;
    font-family: var(--input-font-family);
    font-size: var(--input-font-size);
    height: 50px;
    padding: 0 30px 0 60px;
    position: relative;
    transition: all 150ms ease;
    width: 100%;
}

.select-container{
    border-radius: var(--border-radius);
    border: var(--select-container-border);
}
