.register-container {
    align-items: center;
    background-color: var(--form-container);
    display: flex;
    flex-direction: column;
    max-width: 900px;
    min-height: auto;
    padding: 0 30px;
    width: 40%;
}

.hide-container{
    display: none;
}

@media screen and (max-device-width: 1200px){
    .register-container{
        width: 100%;
    }
}
