@import url('./variables.css');
@import url('../atoms/Background.css');
@import url('../atoms/Button.css');
@import url('../atoms/Image.css');
@import url('../atoms/Label.css');
@import url('../atoms/Option.css');
@import url('../atoms/PrevPageLink.css');
@import url('../atoms/Title.css');
@import url('../molecules/RegisterIndicator.css');
@import url('../molecules/Select.css');
@import url('../molecules/TextInfo.css');
@import url('../organisms/LoginContainer.css');
@import url('../organisms/RegisterContainer.css');
@import url('../templates/SigninUpTemplate.css');

*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
}
