:root{
    --background-index: -1;
    --form-container: #e6e6e6;
    --button-color: #52b2ad;
    --input-color: #666;
    --incorrect-color: #ff0000;
    --correct-color: #008000;

    --input-font-family: Poppins-Medium;
    --input-font-size: 17px;

    --select-container-border: 2px solid #212121;
    --select-border: 1px solid #E8EAED;
    --border-radius: 25px;
}
